<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Nuri Yuri</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% data.nav.each do |nav_li| %>
      <% if nav_li.link %>
      <li class="nav-item<%= nav_li.title == current_page.data.title ? " active" : "" %>">
        <a class="nav-link" href="<%= nav_li.link %>"><%= nav_li.title %></a>
      </li>
      <% else %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= nav_li.title %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% nav_li.dropdown.each do |drop_a| %>
          <% if drop_a.title && drop_a.link %>
          <a class="dropdown-item" href="<%= drop_a.link %>"><%= drop_a.title %></a>
          <% else %>
          <div class="dropdown-divider"></div>
          <% end #if %>
          <% end #each %>
        </div>
      </li>
      <% end #if %>
      <% end #each %>
    </ul>
  </div>
</nav>
</header>
